@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap');

:root  {
    --primary-color: #00AAFF;
    --secondary-color: #0089CE;
    --black: #00111A;
    --white: #FEFEFE;
    --light: #FAFAFA;
    --gray-100: #EDF0F2;
    --gray-200: #E1E5E7;
    --gray-300: #CED4DA;
    --gray-400: #A9ABB2;
    --gray-500: #4D525B;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--gray-200) transparent;
}

body {
    background: var(--light);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0.4rem
}

::-webkit-scrollbar-track { 
    background-color: transparent
}

::-webkit-scrollbar-thumb { 
    background: var(--gray-200);
    border-radius: 50rem;
}

input:-webkit-autofill {
    background-color: transparent;
    transition: background-color 5000s;
}

textarea:focus, input:focus, select:focus, .form-control:focus {
    outline: 0;
    border-color: var(--gray-200);
    box-shadow: inset 0.01rem 0.07rem 0.2rem 0.001rem var(--gray-200);
    background: transparent;
}

button {
    border: 0.125rem solid var(--gray-100);
    border-radius: 50rem;
    box-shadow: 0.01rem 0.07rem 0.2rem 0.001rem var(--gray-300);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    padding: .1rem 1.25rem;
    cursor: pointer;
}

button:hover {
    box-shadow: inset 0.01rem 0.08rem 0.2rem 0.01rem var(--gray-300);
}

button span {
    font-size: .965rem;
    font-weight: 600;
    text-transform: uppercase;
}

button i {
    font-size: 1.5rem;
}

.button-primary {
    background-color: var(--primary-color);
    border: 0.125rem solid var(--primary-color);
    color: var(--white);
}

.button-primary:hover {
    box-shadow: inset 0.01rem 0.08rem 0.2rem 0.01rem var(--secondary-color);
}

header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    background: var(--white);
    box-shadow: 0.01rem 0.08rem 0.15rem 0.01rem var(--gray-300);
    padding: .4rem 1.75rem;
    user-select: none;
}

.header__brand {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    width: 100%;
}

.header__brand i {
    color: var(--primary-color);
    font-size: 1.625rem;
}

.header__brand a {
    color: var(--black);
    font-size: 1.25rem;
    font-weight: 500;
    cursor: default;
}

.header__brand span {
    font-weight: 700;
}

main, section, footer {
    padding: 2rem 4.5rem;
}

main {
    display: grid;
    grid-template-columns: repeat(2,47%);
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.form__room {
    width: 75%;
}

.form__files {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
}

.form__files-dragdrop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form__files-dragdrop label {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 28rem;
    margin-bottom: 3rem;
    
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.5rem;
    word-break: break-word;
    color: var(--black);
    user-select: none;
}

.form__files-dragdrop .label-text-xl {
    display: none;
}

.form__files-dragdrop label i {
    font-size: 5rem;
    line-height: 5.25rem;
    color: var(--gray-300);
}

.form__files-dragdrop label b {
    color: var(--primary-color);
}

.form__files-dragdrop input {
    font-size: .9rem;
    background: transparent;
    border: 0.125rem dashed rgba(0, 170, 255, .5);
    width: 100%;
    height: 100%;
    padding: 10rem 2rem 1.5rem 7rem;
    z-index: 1;
}

.input-file::-webkit-file-upload-button {
    margin-left: .5rem;
    border: none;
    border-radius: .35rem;
}

.input-file input:focus, .input-file select:focus {
    box-shadow: inset 0.01rem 0.07rem 0.2rem 0.001rem transparent;
}

.form__files-dragdrop .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 100%;
    padding: 1.25rem 2rem;
    background: var(--gray-100);
    width: 100%;
}

.form__files-notes {
    font-size: .85rem;
    color: var(--gray-500);
    margin-bottom: .55rem;
}

.form__files button {
    align-self: end;
}

.form__files button > i {
    font-size: 1.25rem;
    line-height: 2.15rem;
}

.content2 {
    background-color: var(--white);
    border-radius: 0.35rem;
    box-shadow: 0.01rem 0.07rem 0.2rem 0.001rem var(--gray-300);
    height: 100%;
    padding: 2rem;
}

.content2 h2 {
    font-size: 1.2rem;
    color: var(--black);
    font-weight: 600;
    padding: .5rem 0 0;
}

.content2 h2 span {
    color: var(--primary-color);
}


@media screen and (max-width: 1100px) {
    .form__room {
        width: 100%;
    }

    .form__files-dragdrop label {
        display: none;
    }

    .form__files-dragdrop .label-text-xl {
        display: flex;
    }

    .form__files-dragdrop .label-text {
        display: none;
    }

    .form__files-dragdrop input {
        background: transparent;
        border: 0.1rem solid transparent;
        padding: 0;
    }

    .input-file::-webkit-file-upload-button {
        margin: auto .5rem auto auto;
    }
    
    main, section, footer {
        padding: 1.5rem 2.5rem;
    }
    
    main {
        grid-template-columns: repeat(1,100%);
    }
}